<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Scannerapplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <Scannerapplication.Properties.Settings>
      <setting name="passBD" serializeAs="String">
        <value>service</value>
      </setting>
      <setting name="serverImagenes" serializeAs="String">
        <value>\\192.168.1.243\Backups\ScannerOCR\</value>
      </setting>
      <setting name="libTesseract" serializeAs="String">
        <value>C:\tessdata</value>
      </setting>
      <setting name="Scannerapplication_WSimage_WSimage" serializeAs="String">
        <value>http://angelus.sens.ohr:8080/WSimage/WSimage.asmx</value>
      </setting>
      <setting name="ipBD" serializeAs="String">
        <value>192.168.1.28</value>
      </setting>
      <setting name="serverBD" serializeAs="String">
        <value>omega</value>
      </setting>
      <setting name="usuarioBD" serializeAs="String">
        <value>frtulum</value>
      </setting>
    </Scannerapplication.Properties.Settings>
  </applicationSettings>
</configuration>
